<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta name="description" content="CMS Panel" />
    <meta name="author" content="cms tonsorium Private Limited" />
    <meta name="keywords"
          content="cms,admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design" />
    <meta name="google" content="notranslate">
    <link rel="icon" href="/backend/assets/img/template/icons&logo/eklogo.png" type="image/x-icon" />
    <title><%= cmsTitle %> <%= //cmsTitleSeperator %> </title>
    <link href="/backend/assets/css/style.css" rel="stylesheet" />
    <link href="/backend/assets/css/colors/default.css" rel="stylesheet" />
    <link href="/backend/assets/css/template.css" rel="stylesheet" />
    <script src="/backend/assets/plugins/jquery/jquery.min.js" defer></script>
    <script src="/backend/assets/plugins/bootstrap/js/bootstrap.min.js" defer></script>
</head>

<body class="main-body leftmenu">
<div class="page main-signin-wrapper">
    <!-- Row -->
    <div class="row signpages text-center">
        <div class="col-md-12">
            <div class="card">
                <div class="row row-sm">
                    <div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
                        <div class="margin__sigin">
                            <img src="/backend/assets/img/template/icons&logo/cms_logo.png" class="header-brand-img"
                                 alt="logo">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form">
                        <div class="container-fluid">
                            <div class="row row-sm">
                                <div class="card-body mt-2 mb-2">
                                    <img src="/backend/assets/img/template/icons&logo/cms_logo.png"
                                         class="d-lg-none header-brand-img text-left mb-4" alt="logo"  style="width: 100px; margin: 0 auto;" />

                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <% include ../partials/messages %>
                                        </div>
                                    </div>
                                    <form action="/login" method="post" id="loginForm">
                                        <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                                        <h5 class="text-left mb-2"><%= translateLanguage('Signin to Your Account',session.translationdata) %></h5>
                                        <p class="mb-4 text-muted tx-13 ml-0 text-left">
                                            <%= translateLanguage('Welcome To EKCMS',session.translationdata) %>
                                        </p>
                                        <div class="form-group text-left">
                                            <label><%= translateLanguage('Email / Username',session.translationdata) %> </label>
                                            <input name="username" id="username" placeholder="<%= translateLanguage('Email / Username',session.translationdata) %>" type="text" class="form-control"  required>
                                        </div>
                                        <div class="form-group text-left">
                                            <label><%= translateLanguage('Password',session.translationdata) %></label>
                                            <input name="password" id="password" placeholder="<%= translateLanguage('Password',session.translationdata) %>" type="password" class="form-control" required>
                                        </div>
                                        <button class="btn ripple btn-main-primary btn-block">
                                            <%= translateLanguage('Sign In',session.translationdata) %>
                                        </button>
                                    </form>
                                     <div class="text-left mt-5 ml-0">
                                        <div class="mb-1"><a href="/forgot-password"><%= translateLanguage('Forgot password?',session.translationdata) %> </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
</body>
</html>
