<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
        <meta name="description" content="cms -  CMS Panel" />
        <meta name="author" content="tonsorium Private Limited" />
        <meta name="keywords"
              content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design" />
        <meta name="google" content="notranslate">
        <link rel="icon" href="/backend/assets/img/template/icons&logo/logo-mini.svg" type="image/x-icon" />
        <title><%= cmsTitle %></title>
        <link href="/backend/assets/css/style.css" rel="stylesheet" />
        <link href="/backend/assets/css/colors/default.css" rel="stylesheet" />
        <link href="/backend/assets/css/template.css" rel="stylesheet" />
        <link rel="stylesheet" href="/public/css/system.css">
        <script src="/backend/assets/plugins/jquery/jquery.min.js" defer></script>
        <script src="/backend/assets/plugins/bootstrap/js/bootstrap.min.js" defer></script>
    </head>

<body class="main-body leftmenu">
<div class="page main-signin-wrapper">
    <!-- Row -->
    <div class="row signpages text-center">
        <div class="col-md-12">
            <div class="card">
                <div class="row row-sm">
                    <div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
                        <div class="margin__sigin">
                            <img src="/backend/assets/img/template/icons&logo/logo-mini.svg" class="header-brand-img"
                                 alt="logo">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form">
                        <div class="container-fluid">
                            <div class="row row-sm">
                                <div class="card-body mt-2 mb-2">
                                    <img src="/backend/assets/img/template/icons&logo/logo-mini.svg" class="d-lg-none header-brand-img text-left mb-4 " style="width: 100px; margin: 0 auto;"
                                 alt="logo">
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <% include ../partials/messages %>
                                        </div>
                                    </div>
                                    <form action="/otp-verification" method="post" id="otp-verification">
                                        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                                        <h5 class="text-left mb-2"><%= translateLanguage('Otp-Verification', session.translationdata, 'global') %></h5>
                                        <p class="mb-4 text-muted tx-13 ml-0 text-left">
                                            <%= translateLanguage('Otp-Verification',session.translationdata) %>
                                        </p>
                                        <div class="position-relative form-group">
                                            <label for="email"
                                                   class="mandatory"><%= translateLanguage('OTP CODE', session.translationdata, 'global') %></label>
                                            <input name="otp_code" id="otp_code" placeholder="<%= translateLanguage('OTP CODE', session.translationdata, 'global') %>" type="text"
                                                   class="form-control"
                                            >
                                        </div>

                                            <div class="float-left"><a href="/resend-otp" class="btn ripple btn-main-primary btn-block"><%= translateLanguage('Re-send',session.translationdata) %></a></div>
                                            <div class="float-left" style="margin-left: 5px;"><a href="/logout" class="btn ripple main-cancel-btn btn-block"><%= translateLanguage('Cancel',session.translationdata) %></a></div>
                                            <div class="float-right">
                                                <button class="btn ripple btn-primary btn-block" id="submitFormBtn"><%= translateLanguage('Submit',session.translationdata) %></button>
                                            </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
