<!-- Main Content-->
<div class="main-content side-content pt-5">
    <div class="container-fluid">
        <div class="inner-body">
            <form action="/admins" class="form" method="post" enctype="multipart/form-data"autocomplete="off">
                <input type="hidden" name="_csrf" value="<%-csrfToken%>">
                <div class="page-header sticky-header">
                    <div>
                        <h2 class="main-content-title tx-24 mg-b-5">
                            <%= translateLanguage(pageTitle, session.translationdata) %>
                        </h2>
                        <% include ../partials/breadcrumb %>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn main-save-btn btn-icon-text my-2 mr-2 submit" type="submit">
                            <%= translateLanguage('Save', session.translationdata) %>
                        </button>

                        <a href="/admins" role="button">
                            <button class="btn main-cancel-btn btn-icon-text my-2 mr-2" type="button">
                                <%= translateLanguage('Cancel', session.translationdata) %>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-lg-12">
                        <% include ../partials/messages %>
                            <div class="card custom-card">
                                    <div class="card-body">
                                        <div class="inner__card_b1">
                                            <div class="row align-items-baseline mt-3">
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('First Name',
                                                                        session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>
                                                            <input type="text" class="form-control " name="first_name"
                                                                value="<%= inputData && inputData.first_name ? inputData.first_name : '' %>"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Last Name',
                                                                        session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>
                                                            <input type="text" class="form-control"
                                                                name="last_name"
                                                                value="<%= inputData && inputData.last_name ? inputData.last_name : '' %>"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row align-items-baseline ">
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Email', session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>
                                                            <input type="email" class="form-control " name="email"
                                                                value="<%= inputData && inputData.email ? inputData.email : '' %>"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Username',
                                                                        session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>
                                                            <input type="text" class="form-control " name="username"
                                                                value="<%= inputData && inputData.username ? inputData.username : '' %>"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row align-items-baseline ">
                                               
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Telephone No',
                                                                        session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>
                                                            <input type="tel" class="form-control " onkeypress='return isNumberKey(event)'
                                                                name="contact_number" maxlength="13"
                                                                value="<%= inputData && inputData.contact_number ? inputData.contact_number : '' %>"
                                                                required>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row align-items-baseline ">
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Mobile No',
                                                                        session.translationdata) %>
                                                                </b>
                                                            </p>
                                                            <input type="tel" class="form-control " name="mobile_num" onkeypress='return isNumberKey(event)'
                                                                maxlength="13"
                                                                value="<%= inputData && inputData.mobile_num ? inputData.mobile_num : '' %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    function isNumberKey(evt){
                                                    var charCode = (evt.which) ? evt.which : evt.keyCode;
                                                    if (charCode != 46 && charCode != 45 && charCode > 31
                                                    && (charCode < 48 || charCode > 57))
                                                    return false;
                                        
                                                     return true;
                                                }
                                                    </script>
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Fax', session.translationdata) %>
                                                                </b>
                                                            </p>
                                                            <input type="tel" class="form-control onlynumIncludeDash" name="fax"
                                                                maxlength="13"
                                                                value="<%= inputData && inputData.fax ? inputData.fax : '' %>">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row align-items-baseline ">
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Admin Roles',
                                                                        session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>
                                                            <select class="form-control select2" multiple name="role_id"
                                                                required>
                                                                <% roles.forEach(function(role) { %>
                                                                    <option value="<%= role.id %>" <% if(typeof(inputData)
                                                                        !=="undefined" && inputData.role_id &&
                                                                        inputData.role_id.toString().includes(role.id)){ %>
                                                                        selected
                                                                        <% } %>
                                                                            > <%= role.name %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Image', session.translationdata) %>
                                                                </b>
                                                            </p>
                                                            <input class="form-control" type="file" id="image" name="image"
                                                                style="padding: 4px;"
                                                                accept="image/png, image/jpeg, image/jpg">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row align-items-baseline ">

                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card exp">
                                                                <b>
                                                                    <%= translateLanguage('Status', session.translationdata) %>
                                                                </b>
                                                            </p>

                                                            <div class="extra">
                                                                <div class="col-md-2">
                                                                    <div class="form-check form-group d-flex b-b0">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="status" value="active" checked="checked">
                                                                        <label class="form-check-label text-nowrap"
                                                                            for="status">
                                                                            <%= translateLanguage('Active',
                                                                                session.translationdata) %>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2">
                                                                    <div class="form-check form-group d-flex b-b0">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="status" value="inactive">
                                                                        <label class="form-check-label text-nowrap"
                                                                            for="status">
                                                                            <%= translateLanguage('Inactive',
                                                                                session.translationdata) %>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline ">
                                                            <p class="inner__card text-nowrap">
                                                                <b>
                                                                    <%= translateLanguage('Password Method',
                                                                        session.translationdata) %>
                                                                </b>
                                                            </p>
                                                            <div class="col-sm-8">
                                                                <div class="col-md-4">
                                                                    <div class="form-check form-group d-flex b-b0">
                                                                        <input type="radio" id="is_password"
                                                                            class="form-check-input passwordMethodRadio"
                                                                            value="is_password" name="password_method"
                                                                            checked>
                                                                        <label class="form-check-label text-nowrap"
                                                                            for="status">
                                                                            <%= translateLanguage('Set Password',
                                                                                session.translationdata) %>
                                                                        </label>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-check form-group d-flex b-b0">
                                                                        <input type="radio" id="is_activation_link"
                                                                            class=" form-check-input passwordMethodRadio"
                                                                            name="password_method"
                                                                            value="is_activation_link">
                                                                        <label class="form-check-label text-nowrap"
                                                                            for="is_password">
                                                                            <%= translateLanguage('Send Activation Link',
                                                                                session.translationdata) %>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row align-items-baseline ">
                                                <div class="col-lg-6">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Remarks',
                                                                        session.translationdata) %>
                                                                </b>
                                                            </p>
                                                            <textarea name="remarks" id="" class="form-control"
                                                                style="height: 60px;"><%= inputData && inputData.remarks ? inputData.remarks : '' %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 " id="passwordField">
                                                    <div class="inner__border">
                                                        <div class="form-group form-check d-flex align-items-baseline">
                                                            <p class="inner__card">
                                                                <b>
                                                                    <%= translateLanguage('Password',
                                                                        session.translationdata) %>
                                                                </b>
                                                                <span style="color:red;">*</span>
                                                            </p>

                                                            <input type="password" class="form-control" id="password"
                                                                name="password"
                                                                value="<%= inputData && inputData.password ? inputData.password: '' %>"
                                                                minlength="<%= getCmsConfig(configData,'Minimum Password Length') %>"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-primary btn-icon-text my-2 mr-2 submit"
                                                            type="submit"><%= translateLanguage('Save', session.translationdata) %></button>

                                                    <a class="btn btn-white btn-icon-text my-2 mr-2" href="/employee-master"
                                                    role="button"><i
                                                                class="glyphicon glyphicon-"></i><%= translateLanguage('Cancel', session.translationdata) %>
                                                    </a>

                                                </div>
                                            </div>
                                        </div> -->
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Row -->
    </div>
</div>
<script src="/js/employee.js" defer></script>
<!-- End Main Content-->