<!-- Main Header-->
<div class="main-header side-header sticky">
    <div class="container-fluid">
        <div class="main-header-left">
            <a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
        </div>
        
        <div class="main-header-right">
            <div class="dropdown header-search">
                <a class="nav-link icon header-search">
                    <i class="fe fe-search header-icons"></i>
                </a>
                <div class="dropdown-menu">
                    <div class="main-form-search p-2">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <select class="form-control select2-no-search">
                                    <option label="All categories">
                                    </option>
                                    <option value="IT Projects" name="global_search_input">
                                        -
                                    </option>
                                </select>
                            </div>
                            <input type="search" class="form-control" placeholder="Search for anything...">
                            <button class="btn search-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                     height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown d-flex main-header-theme <%= user?.dark_mode ? '' : 'show' %>"> 
                <a class="nav-link icon layout-setting" id="darkmode">
                     <span class="dark-layout">
                         <i class="fe fe-sun header-icons"></i>
                    </span> 
                    <span class="light-layout">
                         <i class="fe fe-moon header-icons"></i>
                    </span>
                </a> 
            </div>

            <div class="dropdown main-header-notification flag-dropdown">
                <a class="nav-link icon country-Flag">
                    <% if(session.selectedLanguage == 'en'){ %>  US
                    <% }else{ %> JP
                    <% } %>
                </a>
                    <div class="dropdown-menu">
                        <a href="/languages/changeLanguage?lang=ja" class="dropdown-item d-flex language-types ">
                                    <span data-id="jp" class="avatar  mr-3 align-self-center bg-transparent"><img
                                                src="/backend/assets/img/flags/jp.svg" alt="img"></span>
                            <div class="d-flex">
                                <span class="mt-2">Japanese</span>
                            </div>
                        </a>
                        <a href="/languages/changeLanguage?lang=en" class="dropdown-item d-flex language-types">
                                    <span data-id="en" class="avatar mr-3 align-self-center bg-transparent"><img
                                                src="/backend/assets/img/flags/us_flag.jpg" alt="img"></span>
                            <div class="d-flex">
                                <span class="mt-2">English</span>
                            </div>
                        </a>
                    </div>
            </div>

            <div class="dropdown d-md-flex">
                <a class="nav-link icon full-screen-link" href="">
                    <i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
                    <i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
                </a>
            </div>
            <!-- <div class="dropdown main-header-notification">
                <a class="nav-link icon" href="">
                    <i class="fe fe-bell header-icons"></i>
                    <span class="badge badge-danger nav-link-badge">0</span>
                </a>

            </div> -->
            <div class="dropdown main-profile-menu">
                <a class="d-flex" href="">
                    <span class="main-img-user">
                        <img alt="avatar"
                             src="<%= session.user.image ? '/backend'+session.user.image : '/backend/images/no-image.png' %>">
                    </span>
                </a>
                <div class="dropdown-menu">
                    <div class="header-navheading">
                        <h6 class="main-notification-title"><%= session.user.employee_name ? session.user.employee_name : session.user.first_name %></h6>
                    </div>
                    <!-- <a class="dropdown-item border-top" href="/profile">
                        <i class="fe fe-user"></i><%= translateLanguage('My Profile', session.translationdata, 'Basic') %>
                    </a> -->

                    <a class="dropdown-item" href="/logout">
                        <i class="fe fe-power"></i> <%= translateLanguage('Logout', session.translationdata, 'Basic') %>
                    </a>
                </div>
            </div>
            <!-- <div class="dropdown d-md-flex header-settings">
                <a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
                    <i class="fe fe-align-right header-icons"></i>
                </a>
            </div> -->
            <button class="navbar-toggler navresponsive-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
            </button>
            <!-- Navresponsive closed -->
        </div>
    </div>
</div>
<!-- End Main Header-->

