<!-- Sidemenu -->
<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo logo-invert logo-custom">
        <a class="main-logo" href="/home">
            <div class="desktop-logo">
                <img src="/backend/assets/img/template/icons&logo/Tonsorium.svg" class="header-brand-img"
                     alt="logo"><%= cmsTitle %>
            </div>
            <img src="/backend/assets/img/template/icons&logo/Tonsorium.svg" class="header-brand-img icon-logo"
                 alt="logo">
            <img src="/backend/assets/img/brand/logo.png" class="header-brand-img desktop-logo theme-logo"
                 alt="logo">
            <img src="/backend/assets/img/brand/icon.png" class="header-brand-img icon-logo theme-logo" alt="logo">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">
            <%
            let checkUrl = url;
            let match_url = checkUrl.match('^[^?]*')[0];
            modulePermissions.forEach(function(modulePermission) {
                let collapsed = 'collapsed';
                let collapsed_in = '';
                for (let subPage in modulePermission.subPages) {
                    if (match_url=='/'+subPage) {
                        collapsed = '';
                        collapsed_in = 'in';
                        break;
                    }
                }
            %>
            <%if (modulePermission.enableDropdown) { %>
                <li class="nav-item text-nowrap <% if(typeof (previousUrl) !== 'undefined' && match_url !== '/'+modulePermission.id) { %> remove-active <% } %>">
                    <a href="#" aria-expanded="true" class="nav-link with-sub">
                        <i class="far fa-object-group sidemenu-icon <%= modulePermission.icon %>"></i>
                        <span class="sidemenu-label text-nowrap"> <%=  translateLanguage(modulePermission.title,session.translationdata) %></span>
                        <i class="angle fe fe-chevron-right"></i>
                        <span class="shape1"></span>
                        <span class="shape2"></span>
                    </a>
                    <ul  class="nav-sub" <% if(match_url == '/'+modulePermission.id || collapsed_in=='in') {%> class="nav-sub"<% } else { %> class="mm-collapse" <% } %> id="sidenavlanguage_<%= modulePermission.id %>">
                        <% for (var subPage in modulePermission.subPages) { %>
                            <li class="nav-sub-item <% if(match_url == '/'+subPage) { %> active <% } %>">
                                <a class="nav-sub-link text-nowrap" href="/<%=  subPage %>">
                                       <%= translateLanguage(modulePermission.subPages[subPage],session.translationdata) %>
                                </a>
                            </li>
                        <% }%>
                    </ul>
                </li>
            <% }else { %>
                <li class="nav-item <% if(match_url == '/'+modulePermission.id ) { %> active <% } else { %> remove-active <% } %>">
                    <a href="/<%= modulePermission.id %>" class="nav-link">
                        <i class="sidemenu-icon <%= modulePermission.icon %>"></i>
                        <span class="sidemenu-label text-nowrap"> <%=  translateLanguage(modulePermission.title,session.translationdata) %> </span>
                        <span class="shape1"></span>
                        <span class="shape2"></span>
                    </a>
                </li>
            <% }
            });
            %>
        </ul>
    </div>
</div>

<!-- End Sidemenu -->
